body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(to right, rgb(253, 178, 212), rgb(88, 210, 155));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}
